// You can override Bootstrap variable here.
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 1024px,
//   xl: 1500px
// );

//Color
$primary:#111;
$secondary:#bdbdbd;

//Font
$font-stack:'Roboto', sans-serif;

//Background
$bg-primary:#f5f5f5;
$bg-secondary:#bdbdbd;

//breadcrumb
$breadcrumb-bg:transparant;

$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 960px,
  xl: 1500px
);